body {
  margin: 0;
}

main {
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: [col-1-start] 10% 90% [col-2-end];
  grid-template-rows: 10% 80% 10%;
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
}

footer {
  grid-column-start: col-1-start;
  grid-column-end: col-2-end;
}

header,
aside,
.content,
footer {
  color: white;
  background-color: rgb(43, 42, 42);
  border: 4px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}